/* Ховаємо заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .container {
  width: 1200px;

  padding: 0 15px;
  margin: 0 auto;
    outline: 2px solid tomato;
} */

/* Hero */
.main-section {
  background-color: var(--background-color-hero);
  padding-bottom: 280px;
}
/* Заголовок */
.container .main-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--white-text);
  padding-top: 200px;
  text-align: center;
  text-transform: uppercase;
}

/* Link */
/* .order-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
} */

/* Button */
.order-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  background-color: var(--blue-text);
  color: var(--white-text);
  padding: 10px 32px;
  display: block;
  margin: 30px auto 0;
  text-align: center;
  border-radius: 4px;
  border: none;
}

/* .hero-btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
} */

/*Наші Переваги */
.features {
  padding-top: 94px;
}

.our-features {
  display: flex;
  justify-content: space-between;
}
.our-features li {
  width: 270px;
}
.our-features li:not(:last-child) {
  padding-right: 30px;
  /* padding-left: 0; */
}

.subtitle-features {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: var(--black-text);
  text-transform: uppercase;
}

/* Наші Переваги Текст */
.features-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--grey-text);
  padding-top: 10px;
}

/* Чим ми займаємось */
.what-we-do {
  padding-top: 94px;
}
.what-we-do-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: var(--black-text);
  text-align: center;
  padding-bottom: 50px;
}

.what-we-do-photo {
  display: flex;
}
.what-we-do-photo li:not(:last-child) {
  margin-right: 30px;
}
/* Наша Команда */
.our-team {
  background-color: var(--background-color-team);
  display: flex;
  padding: 94px 0;
}
.our-team-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--black-text);
  text-align: center;
  margin-bottom: 50px;
}
.our-team-workers {
  display: flex;
  flex-wrap: wrap;
}

/* img {
  display: block;
  max-width: 100%;
} */

.our-team-item:not(:last-child) {
  margin-right: 30px;
}

.workers-card {
  /* width: 270px; */
  padding: 30px 30px;
  background-color: var(--white-text);
  border-radius: 0px 0px 4px 4px;
}

.name-employee {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--black-text);
}

.position-employee {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--grey-text);
}
